<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Who is presenting?</title>
  <link rel="stylesheet" href="styles.css" type="text/css">

</head>

<body>

<header>
<h1>Who is presenting?</h1>
</header>
<div class = "uppertext">
<h2>Submit a conference speaker or see a list of presenters<h2>



  <form action="/presenters" method="POST">
  <input type="text" placeholder="name" name="name">
  <input type="text" placeholder="conference" name="conference">
  <input type="text" placeholder="location" name="location">
  <input type="text" placeholder="date" name="date">
  <button type="submit" id = 'submit'>Submit</button>
  </form>


<div class="dropdown">
  <button class="dropbtn"></button>
  <div class="dropdown-content">
    <% for(var i=0; i<presenters.length; i++) {%>
      <a href=#>
        <span><%= presenters[i].conference %></span>
      </a>
    <% } %>
  </div>
</div>

</div>

</body>
</html>
